.footer-bg-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: 'Roboto';
  background-color: #272727;
  width: 100%;
  top: 0;
}
.iconsfooter {
  font-size: 30px;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}
.myname {
  color: #4f46e5;
}
.dev {
  color: #fff;
  font-size: 20px;
}
